@using System.Reflection
@using CoinGardenWorld.Theme.Configurations
@using Microsoft.Extensions.Configuration

@inject IJSRuntime jsRuntime
@inject IStringLocalizer<Footer> _localizer
@inject IConfiguration configuration;
@inject HttpClient httpClient

<!-- Footer -->
<footer class="nk-footer bg-theme-grad ov-h">
    <section class="section section-t-xl tc-light pdb-0 animated" data-animate="fadeInUp" data-delay=".1">
        <div class="container">
            <!-- Block -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-mb-9">
                        <div class="section-head section-head-sm wide-auto-sm text-center">
                            <h4 class="title">
                                @_localizer["Subscribe to Us"]
                            </h4>
                            <p>
                                @_localizer["Stay up to date with our latest news and events."]

                            </p>
                        </div>

                        <!-- Begin Mailchimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form target="_self" name="mc-embedded-subscribe-form" action="https://world.us21.list-manage.com/subscribe/post?u=6a83fd2ece711e17db9673441&amp;id=4c47a1e030&amp;f_id=00c58fe1f0"  id="mc-embedded-subscribe-form" method="post">
                                <div class="field-inline field-split bg-white shadow-soft">
                                    <div class="field-wrap d-flex align-items-center">
                                        <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-envelope"></i></label>
                                        <input class="input-solid input-solid-lg required email" type="email" name="EMAIL" id="mce-EMAIL"
                                               placeholder="@_localizer["Enter your email"]">
                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_6a83fd2ece711e17db9673441_4c47a1e030" tabindex="-1" value="">
                                    </div>
                                    <div class="submit-wrap">
                                        <input type="submit" value="@_localizer["Subscribe"]" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" />

                                    </div>
                                </div>
                                <div class="form-results"></div>
                            </form>
                        </div>

                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div><!-- .block -->
        </div>
    </section>
    <section class="section tc-light animated" data-animate="fadeInUp" data-delay=".2">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-start">
                    <div class="col-lg-4">
                        <ul class="social justify-content-center ms-n2">
                            <li><a href="@Constants.UrlConstants.FacebookPage" target="_blank" title="Facebook"><em class="social-icon social-icon-transparent fab fa-facebook-f"></em></a></li>
                            <li><a href="@Constants.UrlConstants.DiscordChannel" target="_blank" title="Discord"><em class="social-icon social-icon-transparent fab fa-discord"></em></a></li>
                            <li><a href="@Constants.UrlConstants.TwitterPage" target="_blank" title="Twitter"><em class="social-icon social-icon-transparent fab fa-twitter"></em></a></li>
                            <li><a href="@Constants.UrlConstants.YoutubeChannel" target="_blank" title="Youtube"><em class="social-icon social-icon-transparent fab fa-youtube"></em></a></li>
                            <li><a href="@Constants.UrlConstants.GithubRepo" target="_blank" title="Github"><em class="social-icon social-icon-transparent fab fa-github"></em></a></li>
                            <li><a href="@Constants.UrlConstants.MeduimPage" target="_blank" title="Meduim"><em class="social-icon social-icon-transparent fab fa-medium-m"></em></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-8">
                        <div class="copyright-text copyright-text-s4">
                            <p>
                                &copy; Copyright @dt.Year,
                                <a href="@Constants.UrlConstants.OfficialSite" target="_blank">
                                    CoinGarden.World
                                </a>. All Rights Reserved.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 text-sm-end">
                        <ul class="footer-links">

                            <li><a href="terms-and-conditions" target="_blank">Terms &amp; Conditions</a></li>

                            <li><a href="@Constants.UrlConstants.Changelog" target="_blank">Site Version - @GetSiteVersion()</a></li>
                            <li><a href="@_apiUrl" target="_blank">API Version - @_apiVersion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="nk-ovm mask-f-footer shape-z3"></div>
    <!-- Place Particle Js -->
    <div id="particles-bg2" class="particles-container particles-bg"></div>
</footer>

@code {

    private DateTime dt = DateTime.Now;

    private string _apiVersion = "API is not available.";
    private string _apiUrl = "#";

    protected override async Task OnInitializedAsync() {
        try {
            var externalApis = configuration.Get<ExternalApisSettings>();
            if (externalApis != null && externalApis.ExternalApis != null && externalApis.ExternalApis.Any()) {
                _apiUrl = externalApis.ExternalApis.FirstOrDefault().Value.Api_Url + "/api/swagger/ui";

                var apiVersionRequest = await httpClient.GetAsync("api/version");
                if (apiVersionRequest.IsSuccessStatusCode) {
                    _apiVersion = await apiVersionRequest.Content.ReadAsStringAsync();
                }
            }
        }
        catch (Exception e) {
            Console.WriteLine(e);
        }

    }


    public static string GetSiteVersion() {
        Version version = Assembly.GetEntryAssembly()?.GetName().Version ?? new Version(1, 0, 0);
        return version.ToString();
    }
}
