@page "/"
<PageTitle>
    Home - GardenAPP

</PageTitle>
<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">


    <div class="splide single-slider slider-no-dots slider-no-arrows slider-boxed text-center mt-n2" id="single-slider-3">
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide">
                    <div class="card card-style mx-0 shadow-card shadow-card-m mobileapp-site-logo-mobile-1000x850" data-card-height="230">
                        <div class="card-bottom pb-3 px-3">
                            <h3 class="color-white mb-1">
                                GardenAPP
                            </h3>
                            <p class="color-white opacity-80 mb-0 mt-n1 font-14">

                                @((MarkupString)Localization.Pages.Index.By_using_this_app__people_can_better_understand_their_flowers__needs_and_grow_them_more_effectively_)
                            </p>
                        </div>
                        <div class="card-overlay bg-gradient-fade"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card card-style mx-0 shadow-card shadow-card-m bot-site-logo-mobile-1000x850" data-card-height="230">
                        <div class="card-bottom pb-3 px-3">
                            <h3 class="color-white mb-1">
                                GardenBOT
                            </h3>
                            <p class="color-white opacity-80 mb-0 mt-n1 font-14">
                                @((MarkupString)Localization.Pages.Index.This_app_can_help_people_learn_more_about_the_flowers_in_their_environment_and_appreciate_their_beauty_)
                            </p>
                        </div>
                        <div class="card-overlay bg-gradient-fade"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card card-style mx-0 shadow-card shadow-card-m metaverse-site-logo-mobile-1000x850" data-card-height="230">
                        <div class="card-bottom pb-3 px-3">
                            <h3 class="color-white mb-0">
                                GardenVERSE
                            </h3>
                            <p class="color-white opacity-80 mb-0 mt-n1">
                                @((MarkupString)Localization.Pages.Index.Dive_into_a_universe_where_every_flower_tells_a_story__and_every_island_is_a_testament_to_the_harmonious_blend_of_nature_and_technology_)
                            </p>
                        </div>
                        <div class="card-overlay bg-gradient-fade"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card card-style mx-0 shadow-card shadow-card-m charity-site-logo-mobile-1000x850" data-card-height="230">
                        <div class="card-bottom pb-3 px-3">
                            <h3 class="color-white mb-0">
                                GardenCHARITY
                            </h3>
                            <p class="color-white opacity-80 mb-0 mt-n1">
                                @((MarkupString)Localization.Pages.Index.The__Donations_and_Causes__section_of_the_World_of_Flowers_platform_introduces_a_groundbreaking_approach_to_environmental_conservation_)
                            </p>
                        </div>
                        <div class="card-overlay bg-gradient-fade"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <AuthorizeView>
        <Authorized>

        </Authorized>
        <NotAuthorized>
            <CreateOrRegisterAccountCard></CreateOrRegisterAccountCard>
        </NotAuthorized>
    </AuthorizeView>

    <div class="card card-style">
        <div class="content px-2 text-center">
            <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase">
                @((MarkupString)Localization.Pages.Index.Top_Rated_for_the_month)
            </h5>
            <h2>

                @((MarkupString)Localization.Pages.Index.The_Most_Beautiful_Flowers)
            </h2>
            <p class="mb-3">
                @((MarkupString)Localization.Pages.Index.Flowers_and_Gardens_that_we_are_proud_to_showcase)
            </p>
            <div class="row text-center row-cols-3 mb-n1">
                <a class="col p-1" data-gallery="gallery-1" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" title="Vynil and Typerwritter">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7s.jpg" class="preload-img img-fluid rounded-m" alt="img">
                </a>
                <a class="col p-1" data-gallery="gallery-1" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23t.jpg" title="Cream Cookie">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/23s.jpg" class="preload-img img-fluid rounded-m" alt="img">
                </a>
                <a class="col p-1" data-gallery="gallery-1" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3t.jpg" title="Cookies and Flowers">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3s.jpg" class="preload-img img-fluid rounded-m" alt="img">
                </a>
                <a class="col p-1" data-gallery="gallery-1" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11t.jpg" title="Vynil and Typerwritter">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11s.jpg" class="preload-img img-fluid rounded-m" alt="img">
                </a>
                <a class="col p-1" data-gallery="gallery-1" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5t.jpg" title="Cream Cookie">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5s.jpg" class="preload-img img-fluid rounded-m" alt="img">
                </a>
                <a class="col p-1" data-gallery="gallery-1" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/15t.jpg" title="Cookies and Flowers">
                    <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/14s.jpg" class="preload-img img-fluid rounded-m" alt="img">
                </a>
            </div>
        </div> 
    </div>

    <UploadFlowerPictureCard></UploadFlowerPictureCard>
</div>
<!-- End of Page Content-->



<ThemeLoader></ThemeLoader>
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }

}