@* @page "/profile" *@

@attribute [Route(NavigationLinks.PROFILE_URL)]


<AuthorizeView>
    <Authorized>

        <!-- Your Page Content Goes Here-->
        <div class="page-content header-clear-medium">

            <div class="card card-style mt-5 overflow-visible">
                <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" width="150" height="150" class="mt-n5 preload-img mx-auto rounded-circle shadow-xl">
                <div class="content text-center">
                    <div class="px-3 mb-n3">
                        <h1 class="font-700">Karla Black</h1>
                        <p class="mb-2 opacity-60 font-13">
                            Karla Black is a name used when you generate a text with an anonymous name.
                        </p>
                        <p class="font-10">
                            <strong class="color-theme pe-1">1k</strong>Followers
                            <strong class="color-theme ps-3 pe-1">342</strong>Following
                        </p>
                    </div>
                </div>

                <div class="content">
                    <div class="row mb-0">
                        <div class="col-6">
                            <a href="#" class="btn btn-full btn-s rounded-s text-uppercase font-900 gradient-highlight shadow-bg shadow-bg-s">Follow</a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-full btn-s btn-border rounded-s text-uppercase font-900 color-highlight border-blue-dark shadow-l">Message</a>
                        </div>
                    </div>
                </div>
                <div class="divider mb-4 mx-3 mt-1"></div>
                <div class="row mb-0 px-3">
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/3s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sheet 1</span>
                    </div>
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/5s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sheet 2</span>
                    </div>
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/12s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sidebar 1</span>
                    </div>
                    <div class="col-6 col-md-4">
                        <a data-bs-toggle="offcanvas" data-bs-target="#menu-gallery-2" href="#"><img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/22s.jpg" class="rounded-m img-fluid mx-auto d-block"></a>
                        <span class="font-700 color-theme font-14 text-center d-block mb-3">Album Sidebar 2</span>
                    </div>
                </div>
            </div>

            <UploadFlowerPictureCard></UploadFlowerPictureCard>

            <TopAccountsForTheMonth></TopAccountsForTheMonth>
        </div>
        <!-- End of Page Content-->
        <!-- Sheet 2-->
        <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached" id="menu-gallery-2">
            <div class="content mb-0">
                <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase pt-1">2 x 2 Image Grid</h5>
                <h1 class="font-24 font-800 mb-3">Album Thumbs</h1>
                <p>
                    Simple thumbnails with caption attached to them. These will all open an album gallery when tapped.
                </p>

                <div class="row text-center row-cols-2 mb-0">
                    <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" title="Model Portrait">
                        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/7t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                        <p class="font-600 color-theme font-12 pb-3">Selfie</p>
                    </a>
                    <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11t.jpg" title="Red Leafs">
                        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/11s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                        <p class="font-600 color-theme font-12 pb-3">Nature</p>
                    </a>
                    <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2t.jpg" title="Smoke Flow">
                        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/2t.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                        <p class="font-600 color-theme font-12 pb-3">Smoke Flow</p>
                    </a>
                    <a class="col" data-gallery="gallery-2" href="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/4t.jpg" title="Color Doughnuts">
                        <img src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/empty.png" data-src="./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/pictures/4s.jpg" class="preload-img img-fluid rounded-xs" alt="img">
                        <p class="font-600 color-theme font-12 pb-3">Color Doughnuts</p>
                    </a>
                </div>
                <a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-red shadow-bg shadow-bg-s mb-3">Close Album</a>
            </div>
        </div>




    </Authorized>
    <NotAuthorized>
        <div class="page-content header-clear-medium">

            <div class="card card-style">
                <div class="content">
                    <h6 class="font-700 mb-n1 color-highlight">
                        @((MarkupString)Localization.Pages.Index.Registration_Form)
                    </h6>
                    <h1 class="pb-2">
                        @((MarkupString)Localization.Pages.Index.Create_Account)
                    </h1>
                    <p class="mb-2">
                        @((MarkupString)Localization.Pages.Index.Unlock_the_secrets_of_your_garden_with_the_CoinGarden_World_mobile_app)
                    </p>

                    <div class="divider mt-4 mb-0"></div>

                    <div class="list-group list-custom list-group-m rounded-xs list-group-flush bg-theme">
                        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-step-1" class="list-group-item">
                            <i class="bi bi-heart-fill color-red-dark font-15"></i>
                            <div>
                                @((MarkupString)Localization.Pages.Index.Open_Registration_Form)
                            </div>
                            <i class="bi bi-chevron-right pe-1"></i>
                        </a>

                        <a href="authentication/login" class="list-group-item">
                            <i class="bi bi-file-person-fill font-15"></i>
                            <div>
                                @((MarkupString)Localization.Pages.Index.Login_with_Existing_Account)
                            </div>
                            <i class="bi bi-chevron-right pe-1"></i>
                        </a>
                    </div>
                </div>

            </div>




            <TopAccountsForTheMonth></TopAccountsForTheMonth>


            <UploadFlowerPictureCard></UploadFlowerPictureCard>

        </div>

        <!-- Menu-->
        <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached bg-theme" id="menu-step-1">
            <div class="content">
                <div class="d-flex" style="z-index:1">
                    <div class="me-auto"><a href="#" class="icon icon-xs rounded-s bg-green-dark">1</a></div>
                    <div class="m-auto"><a href="#" class="icon icon-xs rounded-s bg-gray-dark">2</a></div>
                    <div class="m-auto"><a href="#" class="icon icon-xs rounded-s bg-gray-dark">3</a></div>
                    <div class="ms-auto"><a href="#" class="icon icon-xs rounded-s bg-gray-dark">4</a></div>
                </div>
                <div class="divider" style="z-index:-1; margin-top:-19px;"></div>

                <h1 class="font-18 font-800 mt-5">Enter Email</h1>
                <div class="form-custom form-label form-border form-icon mb-3 bg-transparent">
                    <i class="bi bi-at font-15"></i>
                    <input type="text" class="form-control rounded-xs" id="user-email" placeholder="Enter Email" />
                    <label for="user-email" class="color-theme">Enter Email</label>
                    <span>(required)</span>
                </div>
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-step-2" class="btn btn-full gradient-blue shadow-bg shadow-bg-s mt-4">Next Step</a>
            </div>
        </div>

        <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached bg-theme" id="menu-step-2">
            <div class="content">
                <div class="d-flex" style="z-index:1">
                    <div class="me-auto"><a href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a href="#" class="icon icon-xs rounded-s bg-green-dark">2</a></div>
                    <div class="m-auto"><a href="#" class="icon icon-xs rounded-s bg-gray-dark">3</a></div>
                    <div class="ms-auto"><a href="#" class="icon icon-xs rounded-s bg-gray-dark">4</a></div>
                </div>
                <div class="divider" style="z-index:-1; margin-top:-19px;"></div>

                <h1 class="font-18 font-800 mt-5">Choose Username</h1>
                <div class="form-custom form-label form-border form-icon mb-3 bg-transparent">
                    <i class="bi bi-person-circle font-15"></i>
                    <input type="text" class="form-control rounded-xs" id="user-username" placeholder="Username" />
                    <label for="user-username" class="color-theme">Username</label>
                    <span>(required)</span>
                </div>
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-step-3" class="btn btn-full gradient-blue shadow-bg shadow-bg-s mt-4">Next Step</a>
            </div>
        </div>

        <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached bg-theme" id="menu-step-3">
            <div class="content">
                <div class="d-flex" style="z-index:1">
                    <div class="me-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-1" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-2" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a href="#" class="icon icon-xs rounded-s bg-green-dark">3</a></div>
                    <div class="ms-auto"><a href="#" class="icon icon-xs rounded-s bg-gray-dark">4</a></div>
                </div>
                <div class="divider" style="z-index:-1; margin-top:-19px;"></div>

                <h1 class="font-18 font-800 mt-5">Choose Password</h1>
                <div class="form-custom form-label form-border form-icon mb-3 bg-transparent">
                    <i class="bi bi-person-circle font-15"></i>
                    <input type="password" class="form-control rounded-xs" id="user-password" placeholder="Password" />
                    <label for="user-password" class="color-theme">Password</label>
                    <span>(required)</span>
                </div>
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-step-4" class="btn btn-full gradient-blue shadow-bg shadow-bg-s mt-4">Next Step</a>
            </div>
        </div>

        <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached bg-theme" id="menu-step-4">
            <div class="content">
                <div class="d-flex" style="z-index:1">
                    <div class="me-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-1" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-2" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-3" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="ms-auto"><a href="#" class="icon icon-xs rounded-s bg-green-dark">4</a></div>
                </div>
                <div class="divider" style="z-index:-1; margin-top:-19px;"></div>

                <h1 class="font-18 font-800 mt-5">Enter Verification Code</h1>
                <div class="form-custom form-label form-border form-icon mb-3 bg-transparent">
                    <i class="bi bi-asterisk font-15"></i>
                    <input type="text" class="form-control rounded-xs" id="verification-code" placeholder="Enter Code" />
                    <label for="verification-code" class="color-theme">Enter Code</label>
                    <span>(required)</span>
                </div>
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-step-5" class="btn btn-full gradient-blue shadow-bg shadow-bg-s mt-4">Next Step</a>
            </div>
        </div>
        <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached bg-theme" id="menu-step-5">
            <div class="content">
                <div class="d-flex" style="z-index:1">
                    <div class="me-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-1" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-2" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="m-auto"><a data-bs-toggle="offcanvas" data-bs-target="#menu-step-3" href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                    <div class="ms-auto"><a href="#" class="icon icon-xs rounded-s bg-blue-dark"><i class="bi bi-check-circle-fill font-16"></i></a></div>
                </div>
                <div class="divider" style="z-index:-1; margin-top:-19px;"></div>

                <h1 class="font-18 font-800 mt-5">That's it!</h1>
                <p class="font-13">This entire Form Wizard was made usign action sheets. You can add however many steps you'd like!</p>
                <a href="#" data-bs-dismiss="offcanvas" class="btn btn-full gradient-green shadow-bg shadow-bg-s mt-4">Awesome</a>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>


<ThemeLoader></ThemeLoader>
@code {

}
