@* @page "/walkthrough" *@

@attribute [Route(NavigationLinks.WALKTHROUGH_URL)]

@using System.Globalization
@using CoinGardenWorldMobileApp.MobileAppTheme.LocalStorage
@layout MobileLayoutNoMenus

@inject NavigationManager navigation
@inject IHybridStorage localStorage
<!-- Your Page Content Goes Here-->
<div class="page-content pb-0 overflow-hidden bg-dark-dark">

    <div class="splide single-slider slider-no-dots slider-no-arrows" id="single-slider-walkthrough" data-splide='{"interval":4000}'>
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/mobileapp-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenAPP</h1>
                            <p class="color-white text-center opacity-70">
                                @Localization.Pages.Walkthrough.a_part_of
                                <strong>CoinGarden.World</strong> <br />
                                @Localization.Pages.Walkthrough.a_Revolutionary_Set_of_Apps
                            </p>
                            <p class="color-white text-center opacity-30">
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">

                                @((MarkupString)Localization.Pages.Walkthrough.Our_Flower_Recognition_and_Care_App_uses_image_recognition)
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-40 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/bot-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenBOT</h1>
                            <p class="color-white text-center opacity-70">
                                @Localization.Pages.Walkthrough.a_part_of
                                <strong>CoinGarden.World</strong> <br />
                                @Localization.Pages.Walkthrough.a_Revolutionary_Set_of_Apps
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">


                                @((MarkupString)Localization.Pages.Walkthrough.Our_Chat_Bot_App_uses_AI_technology_to_recognize_different_types_of_flowers)
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-40 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/metaverse-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenVERSE</h1>
                            <p class="color-white text-center opacity-70">
                                @Localization.Pages.Walkthrough.a_part_of
                                <strong>CoinGarden.World</strong> <br />
                                @Localization.Pages.Walkthrough.a_Revolutionary_Set_of_Apps
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">

                            @((MarkupString)Localization.Pages.Walkthrough.Step_into_the_enchanting__World_of_Flowers__Metaverse)
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-40 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
                <div class="splide__slide">
                    <div class="card bg-dark-dark rounded-0" style="background-image:url(./_content/CoinGardenWorldMobileApp.MobileAppTheme/images/coingarden/charity-site-logo-mobile-580x1060.png); background-size:cover;" data-card-height="cover">
                        <div class="card-center">
                            <h1 class="color-white font-40 text-center">GardenCharity</h1>
                            <p class="color-white text-center opacity-70">
                                @((MarkupString)Localization.Pages.Walkthrough.a_part_of)
                                <strong>CoinGarden.World</strong> <br />
                                @((MarkupString)Localization.Pages.Walkthrough.a_Revolutionary_Set_of_Apps)
                            </p>
                            <p class="color-white font-16 text-center boxed-text-xl">
                                @((MarkupString)Localization.Pages.Walkthrough.The__Donations_and_Causes__section_of_the_World_of_Flowers_platform)
                            </p>
                        </div>
                        <div class="card-overlay bg-black opacity-60 rounded-0"></div>
                        <div class="card-overlay bg-gradient-fade rounded-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-bottom">
        <div class="form-language-walkthrough mb-3 col-6 mx-auto d-block">
           
            <LanguageSelector></LanguageSelector>


        </div>
        <p class="text-center font-10 mb-n3 color-white opacity-40">
            @((MarkupString)Localization.Pages.Walkthrough.Made_with_Love_and_Care_by)
            <a class="color-white" href="https://coingarden.world" target="_blank" title="CoinGarden.World">
                CoinGarden.World
            </a>
        </p>
        <a href="/" @onclick="SaveLocalStoragePreferences" class="btn btn-full gradient-highlight m-4 font-700 text-uppercase shadow-bg shadow-bg-s">
            
            @((MarkupString)Localization.Pages.Walkthrough.Start_Exploring_GardenAPP_by_World_of_Flowers)
            </a>
    </div>

</div>
<!-- End of Page Content-->


<ThemeLoader></ThemeLoader>

@code {
    private string _selectedCulture = "en";

    public string SelectedCulture
    {
        get
        {
            return _selectedCulture;
        }
        set
        {

            CultureInfo.DefaultThreadCurrentCulture = new CultureInfo(value);
            CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo(value);
            localStorage.SetString(LocalStorage.Constants.LANGUAGE_LOCAL_STORAGE_NAME, value);
            _selectedCulture = value;

            // TODO: Consider dynamic culture provider to not refresh the page https://github.com/ScarletKuro/Blazor.WebAssembly.DynamicCulture

            navigation.NavigateTo(NavigationLinks.WALKTHROUGH_URL, true);

        }
    }

    private void OnCultureChange()
    {

    }
    private void SaveLocalStoragePreferences()
    {
        localStorage.SetString(LocalStorage.Constants.LANGUAGE_LOCAL_STORAGE_NAME, _selectedCulture);
    }

    protected override void OnInitialized()
    {
        Console.WriteLine(CultureInfo.DefaultThreadCurrentUICulture);

        if (localStorage.Exists(LocalStorage.Constants.LANGUAGE_LOCAL_STORAGE_NAME))
        {
            var culture = localStorage.Get<string>(LocalStorage.Constants.LANGUAGE_LOCAL_STORAGE_NAME);
            _selectedCulture = culture;

        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       
    }


}
