<span class="menu-divider mt-4">
    @((MarkupString)Localization.Components.Menus.SidebarMenuSettings.SETTINGS)</span>
<div class="menu-list">
    <div class="card card-style rounded-m p-3 py-2 mb-0">
        <a href="#" data-toggle-theme data-trigger-switch="switch-1">
            <i class="gradient-dark shadow-bg shadow-bg-xs bi bi-moon-fill font-13"></i>
            <span>

                @((MarkupString)Localization.Components.Menus.SidebarMenuSettings.Dark_Mode)
            </span>
            <div class="form-switch ios-switch switch-green switch-s me-2">
                <input type="checkbox" data-toggle-theme class="ios-input" id="switch-1">
                <label class="custom-control-label" for="switch-1"></label>
            </div>
        </a>
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-color">
            <i class="gradient-highlight shadow-bg shadow-bg-xs bi bi-palette-fill"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuSettings.Colors)
            </span>
            <i class="bi bi-chevron-right"></i>
        </a>
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-languages">
            <i class="gradient-blue shadow-bg shadow-bg-xs bi bi-translate"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuSettings.Language)
            </span>
            <i class="bi bi-chevron-right"></i>
        </a>

        <NavLink class="nav-link" href="@NavigationLinks.ABOUT_THE_APP_URL">
            <i class="gradient-magenta shadow-bg shadow-bg-xs bi bi-phone"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.About_the_App)
            </span>
            <i class="bi bi-chevron-right"></i>
        </NavLink>
    </div>
</div>

@code {

}
