
<span class="menu-divider">
    @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.NAVIGATION)</span>
<div class="menu-list">
    <div class="card card-style rounded-m p-3 py-2 mb-0">
        
        <NavLink class="nav-link" href="" id="nav-homes" Match="NavLinkMatch.All">
            <i class="gradient-blue shadow-bg shadow-bg-xs bi bi-house-fill"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Homepage)
            </span>
            <i class="bi bi-chevron-right"></i>
        </NavLink>
    @*     <NavLink class="nav-link"  href="@NavigationLinks.WALKTHROUGH_URL" >
            <i class="gradient-red shadow-bg shadow-bg-xs bi bi-gear-fill"></i>
            <span>Walkthrough</span>
            <i class="bi bi-chevron-right"></i>
        </NavLink> *@
        <NavLink class="nav-link" href="@NavigationLinks.POSTS_URL">
            <i class="gradient-green shadow-bg shadow-bg-xs bi bi-heart-fill"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Dashboard)
                </span>
            <i class="bi bi-chevron-right"></i>
        </NavLink>
        @* 
    <NavLink class="nav-link" href="@NavigationLinks.PROFILE_URL" >
        <i class="gradient-yellow shadow-bg shadow-bg-xs bi bi-image-fill"></i>
        <span>
            @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Profile)
        </span>
        <i class="bi bi-chevron-right"></i>
    </NavLink> *@
    <NavLink class="nav-link" href="@NavigationLinks.IDENTIFY_FLOWER_URL">
        <i class="gradient-teal shadow-bg shadow-bg-xs bi bi-flower2"></i>
        <span>
            @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Identify_Flower)
        </span>
        <i class="bi bi-chevron-right"></i>
    </NavLink>
        <NavLink class="nav-link" href="@NavigationLinks.PLACES_URL" >
            <i class="gradient-magenta shadow-bg shadow-bg-xs bi bi-geo-fill"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Places)
            </span>
            <i class="bi bi-chevron-right"></i>
        </NavLink>
        <NavLink class="nav-link" href="@NavigationLinks.CHARITIES_URL">
            <i class="gradient-orange shadow-bg shadow-bg-xs bi bi-tree-fill"></i>
            <span>
                @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Charities)
            </span>
            <i class="bi bi-chevron-right"></i>
        </NavLink>

        <NavLink class="nav-link" href="@NavigationLinks.CONTRIBUTION_BADGES_URL">
            <i class="gradient-yellow shadow-bg shadow-bg-xs bi bi-trophy-fill"></i>
        <span>
            @((MarkupString)Localization.Components.Menus.SidebarMenuNavigation.Contribution_Badges)
        </span>
        <i class="bi bi-chevron-right"></i>
    </NavLink>


    </div>
</div>

@code {

}
