@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@inject IStringLocalizer<HomeLayout> _localizer

<HeadContent>
    <title>@_localizer["World of Flowers"]</title>

    <link rel="apple-touch-icon" sizes="512x512" href="ios/512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="ios/192.png" />

    <meta name="theme-color" content="#1FC511" />

    <meta property="fb:app_id" content="874602667164734" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="coingarden.world" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@_localizer["World of Flowers"]" />
    <meta property="og:description" content="@_localizer["Web3 Infrastructure for gardening, growing, selling and earning crypto from your flowers." ]" />
    <meta property="og:url" content="https://coingarden.world/" />
    <meta property="og:image" content="https://coingarden.world/social-logo-1276x739.png" />
    <meta property="og:image:secure_url" content="https://coingarden.world/social-logo-1276x739.png" />
    <meta property="og:image:width" content="1276" />
    <meta property="og:image:height" content="739" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@_localizer["World of Flowers"]" />
    <meta name="twitter:description" content="@_localizer["Web3 Infrastructure for gardening, growing, selling and earning crypto from your flowers." ]" />
    <meta name="twitter:image" content="https://coingarden.world/social-logo-1276x739.png" />

</HeadContent>

<CascadingValue Value="this">

    <div class="nk-wrap">
        
        <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">

            <TopMenu />
            
            <CascadingValue Value="@Banner" Name="Banner">

                @Banner
            </CascadingValue>
        </header>

        <main class="nk-pages">
            @Body
        </main>

        <Footer></Footer>

    </div>

</CascadingValue>
<!-- preloader -->
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="./images/logo_for_a_flowers_farming_game_globe_with_multiple_islnds-230x230.png" alt=""></span></div>

@code {

    [Parameter]
    public RenderFragment? Banner { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender)
        {
            var module = await jsRuntime.InvokeAsync<IJSInProcessObjectReference>(
                "import", "./_content/CoinGardenWorld.Theme/assets/js/scripts.js");
            //await module.InvokeAsync<string>("NioApp.winLoad");
            await module.InvokeAsync<string>("NioApp.Plugins.particles");
        }
    }
}
