@page "/"
@inherits ThemeComponentBase<HomeBanner>
@using CoinGardenWorld.Web.Localization.Pages

<PageTitle>
    @Index_Resource.Home___World_of_Flowers

</PageTitle>

<section class="section bg-transparent over-up over-up-xl-s2 pdt-0" style="z-index: 15">
    <div class="ui-mask-right ui-mask-s8"></div>
    <div class="container">
        <!-- Block  -->
        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">

                <CenterCardIcon FeatureCardUrl="@UrlConstants.MobileAppSite" FeatureCardDelay="1.4" FeatureCardImageSrc="images/colorful_animated_picture_-_iphone_with_open_application.webp">
                    <FeatureCardTitle>
                        @Index_Resource.Mobile_Application
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        @Index_Resource.The_mobile_application_is_a_way_to_identify_flowers_and_plan_their_best_cultivation_according_to_their_type__season_and_weather_conditions_where_the_flower_is_located_
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardUrl="@UrlConstants.GardenBotSite" FeatureCardDelay="1.5" FeatureCardImageSrc="images/colorful_animated_picture_little_futuristic_a_happy_ch_transparent-300x300.webp">
                    <FeatureCardTitle>
                        @Index_Resource.Garden_BOT
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        @Index_Resource.Chat_with_our_flower_recognition_bot_and_send_him_pictures_of_flowers__he_immediately_will_respond_with_the_sort_of_the__and_information_how_to_take_care_of_it_
                    </FeatureCardDescription>
                </CenterCardIcon>

                <CenterCardIcon FeatureCardUrl="@UrlConstants.MetaverseSite" FeatureCardDelay="1.6" FeatureCardImageSrc="images/island_with_nature_and_flowers_for_farming_game_on_a_wh_transparent-250x250.webp">
                    <FeatureCardTitle>
                        @Index_Resource.Metaverse
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        @Index_Resource._Flower_World__is_a_game_where_every_single_user_who_uses_the_app_or_takes_care_of_at_least_one_flower_will_get_their_own_island_where_they_can_arrange_and__plant__their_real_flowers_in_the_metaverse_
                    </FeatureCardDescription>
                </CenterCardIcon>
            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<LargePanelRightPicture SectionId="mobile-app-home">
    <Content>
        <div class="nk-block-shade"></div>
        <h3 class="title title-dark title-regular">
            @Index_Resource._World_of_Flowers__is_a_system_equipped_with_artificial_intelligence_and_automatic_recognition_of_types_and_varieties_of_flowers_
        </h3>
        <h4 class="title title-md">
            @Index_Resource.The_mobile_application_for_flowers
        </h4>
        <p>
            @Index_Resource.In_it__users_not_only_grow_but_can_also_develop_and_sell_their_best_photos_of_their_most_beautiful_flowers__Every_single_photo_in_the_system_can_be_created_as_an_NFT_and_thus_either_sold_in_the_shop_or_used_in_the_flower_metaverse_
        </p>
        <p>
            @Index_Resource.The_user_starts_their_journey_by_downloading_the_flower_app__Immediately_after__he_will_be_prompted_to_take_a_photo_or_upload_a_photo_of_the_flower_he_wishes_to_add_and_will_receive_a_QR_code_for_quick_information_that_he_can_use_to_put_on_the_pot_or_to_sell_real_flowers_in_a_shop__The_app_will_automatically_recognize_the_type_of_flower_and_start_reminding_the_user_when_it_needs_watering_
        </p>
        <div class="nk-block-note nk-block-note-s2">
            <em class="icon ti ti-mobile"></em>
            <p>
                @Index_Resource.The_mobile_application_will_keep_reminding_you_when_you_need_to_water_your_plants_and_you_will_never_forget_to_leave_them_dry_again_
            </p>
             
        </div>
        <ul class="btn-grp justify-content-center justify-content-md-start">
            <li>
                <a href="@UrlConstants.MobileAppSite" target="_blank" class="btn btn-grad btn-round btn-md">
                    @Index_Resource.Get_the_app_now
                </a>
            </li>
            <li>
                <ul class="btn-grp gutter-15px">
                    <li><a href="@UrlConstants.MobileAppSite" target="_blank"><em class="fab fa-apple"></em></a></li>
                    <li><a href="@UrlConstants.MobileAppSite" target="_blank"><em class="fab fa-android"></em></a></li>
                    <li>
                        <a href="@UrlConstants.MobileAppSite" target="_blank">

                            <em class="fab fa-windows">
                            </em>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </Content>
</LargePanelRightPicture>

<!-- // -->
<section class="section bg-transparent pdt-0 ov-v">
    <div class="ui-mask-right ui-mask-s10"></div>
    <div class="container">
        <!-- Section Head  -->

        <div class="nk-block nk-block-features-s3">
            <div class="row justify-content-center">

                <!-- Block  -->
                <CenterCardIcon FeatureCardUrl="@UrlConstants.NftStoreSite" FeatureCardDelay=".3" FeatureCardImageSrc="images/colorfull_animated_picture_of_a_flower_shop_on_a_transparent-300x300.webp">
                    <FeatureCardTitle>
                        @Index_Resource.Flower_Store
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        @Index_Resource.When_you_take_good_care_of_your_garden__let_it_take_care_of_you__Go_to_the_NFT_store_and_sell_your_collection_of_photos_of_your_most_beautiful_flower__and_if_you_continue_to_take_care_of_it__each_subsequent_photo_will_be_of_a_higher_level_and_that_will_make_it_more_valuable_
                    </FeatureCardDescription>
                </CenterCardIcon>


                <CenterCardIcon FeatureCardUrl="@UrlConstants.CharitySite" FeatureCardDelay=".4" FeatureCardImageSrc="images/happy_colorfull_animated_picture_for_charity_website400x400.webp">
                    <FeatureCardTitle>
                        @Index_Resource.Charities
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        @Index_Resource.The_donation_system_in__World_of_Flowers__is_a_unique_way_that_users_together__can_save_endangered_places_or_clear_a_polluted_forest_of_waste_

                    </FeatureCardDescription>
                </CenterCardIcon>


                <CenterCardIcon FeatureCardUrl="@UrlConstants.TokenSite" FeatureCardDelay=".4" FeatureCardImageSrc="images/colorfull_animated_picture_little_futuristic_of_a_crypt_fb_tranparent-300x300.webp">
                    <FeatureCardTitle>
                        @Index_Resource.Crypto_Token
                    </FeatureCardTitle>
                    <FeatureCardDescription>
                        @Index_Resource.GRDN_token_is_the_base_currency_in_the_entire_infrastructure__All_donations_and_causes__all_rewards_received_for_taking_care_of_the_flowers__as_well_as_the_metaverse_are_in_the_main_crypto_currency_GRDN_
                    </FeatureCardDescription>
                </CenterCardIcon>


            </div><!-- .row -->
        </div><!-- .block  -->
    </div>
</section>
<!-- // -->
<section class="" id="metaverse-home">

    <div class="ui-mask-left ui-mask-s11"></div>
    <div class="container">
        <!-- Section Head  -->
        <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
            <h2 class="title  title-regular">
                @((MarkupString)Index_Resource.Own_the_future___World_of_Flowers__is_your_portal_to_the_blockchain_world_)
            </h2>
        </div>
        <div class="nk-block">
            <div class="tab-content">
                <div class="row align-items-center justify-content-between gutter-vr-40px">
                    <div class="col-lg-6">
                        <div class="nk-block-img nk-block-ca">
                            <div class="nk-circle-animation nk-df-center fast"></div>
                            <img class="rounded" src="images/logo_for_a_flowers_farming_game_globe_with_multiple_islnds-500x500.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="nk-block-text mgb-m30">
                            <h2 class="title title-md">
                                @Index_Resource.Open_platform_for_everyone
                            </h2>
                            <p>
                                @Index_Resource.The_Metaverse_can_be_played_freely_by_all_flower_lovers_
                            </p>
                            <div class=" feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">💮</span>
                                </div>
                                <div class="feature-text">
                                    <p>
                                        @Index_Resource.Anyone_who_takes_care_of_at_least_one_flower_will_receive_a_free_island_in_the_Metaverse_
                                    </p>
                                </div>
                            </div>
                            <div class=" feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">🌸</span>
                                </div>
                                <div class="feature-text">
                                    <p>
                                        @Index_Resource.Even_if_you_don_t_have_plants__you_can_buy_some_from_the_NFT_shop_and_still_continue_playing_
                                    </p>
                                </div>
                            </div>
                            <div class=" feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">🪷</span>
                                </div>
                                <div class="feature-text">
                                    <p>
                                        @Index_Resource.The_more_flowers_you_have_in_the__World_of_Flowers___the_more_GRDN_Coin_you_will_earn_per_day_if_you_play_

                                    </p>
                                </div>
                            </div>
                            <div class="feature feature-inline feature-middle">
                                <div class="feature-icon feature-icon-md">
                                    <span class="icon icon-md ">🌺</span>
                                </div>
                                <div class="feature-text">
                                    <p>
                                        @Index_Resource.Your_island_will_grow_with_the_number_of_flowers_that_you_have__You_can_even_add_decorations_to_your_island_and_invite_other_players_to_visit_it_
                                    </p>
                                </div>
                            </div>

                            <ul class=" btn-grp justify-content-center justify-content-md-start">
                                <li>
                                    <a href="@UrlConstants.MetaverseSite" target="_blank" class="btn btn-grad btn-round btn-md">
                                        @Index_Resource.Login_to_Metaverse
                                </a></li>
                                <li>
                                    <ul class="btn-grp gutter-15px">
                                        <li><a href="@UrlConstants.MetaverseSite" target="_blank"><em class="fab fa-apple"></em></a></li>
                                        <li><a href="@UrlConstants.MetaverseSite" target="_blank"><em class="fab fa-android"></em></a></li>
                                        <li>
                                            <a href="@UrlConstants.MetaverseSite" target="_blank">

                                                <em class="fab fa-windows">
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- // -->
<HomeSupportedCrypto Title="@Index_Resource.Supported_Currencies" />
<!-- // -->
@code {
    private string supportedCryptoTitle = "Supported Currencies";

    protected override string BannerTitle { get => Index_Resource.World_of_Flowers__with_icons_; }
    protected override string BannerDescription { get => Index_Resource.Welcome_to__World_of_Flowers___a_harmonious_blend_of_technology_and_nature_where_the_digital_realm_meets_the_verdant_beauty_of_our_world__At_its_core__this_platform_offers_a_comprehensive_Web3_infrastructure_dedicated_to_gardening__allowing_users_to_grow__nurture__and_even_earn_cryptocurrency_from_their_virtual_flowers__Dive_into_a_universe_where_every_petal_counts__and_every_action_reverberates_with_the_love_for_our_planet_; }

}